<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Keep MainActivity exported setting from base and remove its launcher intent for barker -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            tools:replace="android:exported"
            tools:node="merge">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Set BarkerLauncherActivity as the launcher for this variant -->
        <activity
            android:name=".BarkerLauncherActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
